* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #182e40;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#black-card {
  background: black;
  width: 50%;
}

#white-card {
  background-color: white;
  width: 50%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  border: #1d425d solid 1px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#black-card-text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

#white-card-text {
  color: black;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

.btn {
  width: 30%;
  background-color: #febd29;
  border: none;
  margin: 20px auto;
  padding: 20px;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: none;
  outline: none;
}

.btn:active {
  background-color: #febe29cb;
  box-shadow: 0 2px #1d425d;
  transform: translateY(4px);
}

#credit {
  margin: 50px;
}

.other-text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

a {
  color: white;
  text-decoration: none;
}

/* Style the form element with a border around it */
form {
  border: 1px solid #1d425d;
  margin-top: 40px;
}

.form-top {
  background: #1d425dc7;
}

form p {
  font-size: 2rem;
  text-align: center;
  margin: 5px auto 10px auto;
  color: white;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #1f4662;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #988026;
  color: white;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}
