body {
  background-color: orange;
}

button {
  background-color: aquamarine;
  margin: auto;
  padding: 10px;
  border-radius: 8%;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
}

#blackCard {
  background-color: black;
  color: white;
  width: 33%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding: 5px;
}

#whiteCard {
  background-color: white;
  color: black;
  width: 33%;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  padding: 5px;
}
