* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #182e40;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#black-card {
  background: black;
  width: 50%;
}

#white-card {
  background-color: white;
  width: 50%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  border: #1d425d solid 1px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#black-card-text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

#white-card-text {
  color: black;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

.btn {
  width: 30%;
  background-color: #febd29;
  border: none;
  margin: auto;
  padding: 10px;
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: none;
  outline: none;
}

.btn:active {
  background-color: #febe29cb;
  box-shadow: 0 2px #1d425d;
  transform: translateY(4px);
}

#credit {
  margin: 50px;
}

.other-text {
  color: white;
  font-size: 1.8rem;
  line-height: 1.7rem;
}

a {
  color: white;
  text-decoration: none;
}
